<form class="ui form contact-form" action="https://submit-form.com/mujdERTX" target="_self" name="contact">

    <input type="hidden" name="_redirect" value="{{ site.url }}/kontakta-oss/skickat/" />
    <input type="hidden" name="_email.subject" value="Nytt mail från melbie.se!" />

    <div class="ui error message"></div>

    <div class="field">
        <label>Namn</label>
        <input type="text" name="name" id="name" placeholder="Namn">
    </div>
    <div class="field">
        <label>E-post</label>
        <input type="email" name="email" id="email" placeholder="email@domain.tld">
    </div>
    <div class="field">
        <label>Telefon</label>
        <input type="text" name="phone" id="phone" placeholder="Telefonnummer">
    </div>
    <div class="field">
        <label>Meddelande</label>
        <textarea name="message" id="message" placeholder="Hej! ..."></textarea>
    </div>
    <div class="field">
        <div class="g-recaptcha" data-sitekey="6LdQwBoaAAAAAJ1Xb8o2wtUOVMRCm6sTRd4sgHq_"></div>
    </div>
    <button class="ui button" type="submit">Skicka</button>
</form>