---
layout: default
permalink: /karriar/redovisningsekonom/
title: Redovisningsekonom!
description_title: Redovisningsekonom!
link: redovisningsekonom
city: Karlstad
job_application_deadline: 2020-10-31
---

{% include career_header.html %}

<div class="text-block">
    Vi på Melbie AB behöver stärka vårt team och söker nu en {{ page.description_title | downcase | replace: "!", "" }}. 
    Du kommer att ingå i ett team där arbetsglädje och god kommunikation går hand i hand. 
    Du kommer att ansvara för löpande bokföring, leverantörsreskontra, kundreskontra, moms, rapporteringar, 
    månadsbokslut, årsbokslut med mera. 
    Vi arbetar främst i fortnox och visma.
</div>

<div class="text-block">
    <strong>Det du får av oss:</strong>
</div>

<div class="text-block">
    <ul>
        <li>Jobba i ett sammansvetsat team.</li>
        <li>En vardag med kvalitet och kundfokus.</li>
        <li>En platt organisation där din röst är med och driver förändring.</li>
    </ul>
</div>

<div class="text-block">
    <strong>Huvuduppgifter:</strong>    
</div>

<div class="text-block">
    <ul>
        <li>Leverantörsreskontra</li>
        <li>Kundreskontra</li>
        <li>Rapportering</li>
        <li>Månadsavstämningar</li>
        <li>Löpande bokföring</li>
        <li>Moms</li>
        <li>Årsbokslut</li>
    </ul>
</div>

<div class="text-block">
    <strong>Erfarenhet & kunskapskrav:</strong>
</div>

<div class="text-block">
    <ul>
        <li>Relevant utbildning inom ekonomi alternativt motsvarande arbetslivserfarenhet</li>
        <li>Goda kunskaper i svenska, både i tal och skrift</li>
    </ul>
</div>

<div class="text-block">
    <strong>Vår önskelista av dig:</strong>
</div>

<div class="text-block">
    <ul>
        <li>Kommunikativ, glad</li>
        <li>Tar gärna egna initiativ</li>
        <li>Noggrann, strukturerad</li>
        <li>Öppensinnad och nyfiken</li>
        <li>Gillar att nätverka och samarbeta</li>
    </ul>
</div>

<div class="text-block">
    <strong>Om anställningen:</strong>
</div>

<div class="text-block">
    Omfattning: Heltid<br />
    Lön: Lön enligt överenskommelse<br />
    Anställningsform: Tillsvidare- eller tidsbegränsad anställning<br />
    Arbetsplats: {{ page.city }}
</div>

<div class="text-block">
    Låter det intressant - välkommen och skicka en ansökan märkt med
    <strong>"{{ page.description_title }}"</strong> samt bifogat CV och personligt brev
    till <a href="mailto:{{ site.company.jobb_email }}">{{ site.company.jobb_email }}</a>.
    <br/><br/>
    Sista ansökningsdagen är {{ page.job_application_deadline }}. Intervju och urval sker löpande.
</div>


{% include career_footer.html %}